.headerWrapper {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.459);
    height: 50px;
    width: 100%;
}
.firstWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}
.secondWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.secondWrapper a {
    color: aliceblue;
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
}
.headerWrapper a:hover {
    color: rgba(0, 0, 0, 0.44);
}
.headerWrapper a {
    color: aliceblue;
}
.headerWrapper button {
    cursor: pointer;
}
.logOutLink {
    color: rgba(255, 255, 255, 0);
    transition: all 0.5s;
    position: relative;
    height: 40px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(28, 28, 35, 0.73);
    font-family:'Josefin Sans', sans-serif;
}