.headerWrapper {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.459);
    height: 50px;
    width: 100%;
}
.firstWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}
.secondWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.secondWrapper a {
    color: aliceblue;
    text-decoration: underline;
    text-transform: capitalize;
    padding: 0 150px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
}
.headerWrapper a:hover {
    color: rgba(0, 0, 0, 0.44);
}
.headerWrapper a {
    color: aliceblue;
}
.headerWrapper button {
    cursor: pointer;
}