.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.459);
    height: 50px;
    padding: 0 10px;
}
.headerWrapper a:hover {
    color: rgba(0, 0, 0, 0.44);
}
.headerWrapper a {
    color: aliceblue;
    text-decoration: none;
}