.modelWrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.49);
}

.childrenWrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 400px;
    height: 300px;

    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    z-index: 100;
}