.uniCardsDeckWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainListWrapper {
    position: relative;
    border: 3px solid black;
    width: 100%;
}
.mainList {
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mainList div {
    width: 33%;
    border-left: 1px solid black;
}
.buttonsInTheList {
    display: flex;
}
.loading {
    right:100px;
    position: absolute;
    top: -30px;
}
.itemName a {
    text-decoration: none;
    color: black;
}
.itemName:hover {
    cursor: pointer;
    background-color: #2BA2DF;
    transition: 0.4s ease-in-out;
}