.componentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 90vh;
    width: 100%;
}
.usersWrapper {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.user {
    width: 250px;
    height: 250px;
    border: 1px solid darkred;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: black;
}.user:hover {
    transition: 0.4s ease-in-out;
    background-color: #a74255;
 }
.user img {
    height: 30%;
    width: 30%;
}